/_build/

/cover/

/deps/

/doc/

/.fetch

erl_crash.dump

*.ez

notification_system-*.tar

/tmp/

Mnesia*/
mnesia*/

.DS_Store

.vscode/
.idea/
*.swp
*.swo
*~

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg

*_backup.*
*.bak
